.bao .header {
    background-color: white;
    position: relative;
    margin-top: 65px;
}

.bao nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    background-color: rgb(67, 135, 170);
    margin-top: -65px;
}

.a {
    width: 240px;
}

.bao nav ul li:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

.bao nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

.bao nav ul li {
    display: inline-block;
    list-style: none;
}

.bao nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: rgb(67, 135, 170);
    text-align: center;
    padding-top: 10px;
}

nav ul li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 180px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

nav ul ul a {
    display: block;
    line-height: 30px;
    color: rgb(67, 135, 170);
    text-decoration: none;
    font-size: large;
    padding: 0 auto;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li:hover {
    background-color: lightskyblue;
    color: black;
    width: 180px;
    border-radius: 3px;
}

nav .v {
    margin-top: 20px;
    margin-left: 450px;
}

nav .v button {
    background-color: lightskyblue;
}

.bao .header img {
    width: 100%;
    height: 500px;
}

p {
    text-align: justify;
}

.n {
    width: 28px;
}

.p {
    text-align: center;
}

footer {
    background-color: rgb(67, 135, 170);
    display: flex;
    justify-content: space-around;
}

.bao .header img {
    width: 100%;
    height: 500px;
}

.e {
    color: white;
}

article {
    height: 400px;
    background-color: rgb(201, 212, 223);
}

.bao .header button img {
    width: 30px;
    height: 40px;
    padding: 5px;
}

.bao .header button {
    border-radius: 50%;
}

.bao .header .nut {
    position: absolute;
    margin-top: -320px;
}

.bao .header .nut .i2 {
    margin-left: 1385px;
}